USE [thetweb]
GO
/****** Object:  StoredProcedure [dbo].[eAlerts_archive_serviceAlerts]    Script Date: 03/04/2011 17:02:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[eAlerts_archive_serviceAlerts]
AS

BEGIN
BEGIN TRY
BEGIN TRAN

Declare @Message varchar(2000),@Message_hold varchar(500),@NewLineChar CHAR(2), @Date varchar(20), @Error_Message varchar(4000), @Error_Message_Hold varchar(4000)

Set @newlinechar = CHAR(13) + CHAR(10)
Set @Date = convert(VARCHAR(20), getdate(), 100) 

set @Message = 'Hi,'
             + @NewLineChar 
             + @NewLineChar 
             + 'Please find the below details of Archive on SERVICEALERTS table from the "thetweb" database on Davis Server.'
             + @NewLineChar 
             + @NewLineChar

Set @Message = @Message 
             + 'Date of Archive: ' 
             + @Date
             + @NewLineChar 
             + '-------------------------------------' 
             + ' ' 
             + @NewLineChar 

select @Message_hold =  count(1) from servicealerts

Set @Message = @Message 
             + @NewLineChar 
             + 'Record count in SERVICEALERTS table before archiving: ' 
             + CAST(@Message_hold AS char)
             --+ @Message_hold
             + ' ' 
             + @NewLineChar 

select @Message_hold =  count(1) from servicealerts_archive

Set @Message = @Message
             --+ @NewLineChar
             + 'Record count in SERVICEALERTS_ARCHIVE table before archiving: ' 
             + CAST(@Message_hold AS char)
             + ' ' 
             + @NewLineChar
             + @NewLineChar  


insert into servicealerts_archive
select [ServiceAlertID]
      ,[Mode]
      ,[Route]
      ,[Delay]
      ,[Priority]
      ,[TimeOfDelay]
      ,[DelayTime]
      ,[DelayCategory]
      ,[DelayReason]
      ,[MessagePublic]
      ,[MessagePrivate]
      ,[IsClosed]
      ,[DateExpired]
      ,[DateClosed]
      ,[DateCreated]
      ,[TimeCreated]
      ,[DateModified]
      ,getdate() DateArchived
from servicealerts    
where (isnull(delay,'abc') <> 'Advisory' and isnull(isclosed,1) <> 0) 
   or (isnull(delay,'Advisory') = 'Advisory' and isnull(dateexpired,getdate()-1) <= getdate())

delete from servicealerts 
where (isnull(delay,'abc') <> 'Advisory' and isnull(isclosed,1) <> 0) 
   or (isnull(delay,'Advisory') = 'Advisory' and isnull(dateexpired,getdate()-1) <= getdate())

select @Message_hold =  count(1) from servicealerts

Set @Message = @Message
             + @NewLineChar
             + 'Record count in SERVICEALERTS table after archiving: ' 
             + CAST(@Message_hold AS char)
             + ' ' 
             + @NewLineChar

select @Message_hold =  count(1) from servicealerts_archive

Set @Message = @Message
             + 'Record count in SERVICEALERTS_ARCHIVE table after archiving: ' 
             + CAST(@Message_hold AS char)
             + @NewLineChar 

Set @Message = @Message
             + @NewLineChar
             + 'Do NOT REPLY TO THIS EMAIL. If you have any questions, contact ITD''s Database group. Email: database@mbta.com'

Set @Message = @Message
             + @NewLineChar
             + @NewLineChar
             + 'Thanks!!'             

EXEC msdb.dbo.sp_send_dbmail
@recipients ='kpabba@mbta.com; jwiesman@mbta.com',
--'pchan@mbta.com; kgowsalan@mbta.com; tjellows@mbta.com; hllavina@mbta.com; hrichard@mbta.com; aveneziano@mbta.com; jwiesman@mbta.com',
@subject ='Today''s ServiceAlerts Table Archived',
@body = @Message

COMMIT TRAN
END TRY

BEGIN CATCH

IF @@TRANCOUNT > 0
ROLLBACK TRAN

SELECT @Error_Message_hold = CAST(ERROR_NUMBER() AS char) 
							 + ' ' 
							 + CAST(ERROR_SEVERITY() AS char) 
							 + ' ' 
							 + CAST(ERROR_STATE() AS char)
							 + ' ' 
							 + ERROR_PROCEDURE()
							 + ' ' 
							 + CAST(ERROR_LINE() AS char)
							 + ' ' 
               				 + ERROR_MESSAGE()

Set @Error_Message = 'Hi,'
					 + @NewLineChar 
					 + @NewLineChar 
                     + 'Archive on Servicealerts table failed in Davis Database FAILED on: '
					 + @Date
					 + @NewLineChar
					 + @NewLineChar
					 + 'Below is the error Message'
					 + @NewLineChar
					 + '---------------------------' 
					 + @NewLineChar
					 + @Error_Message_hold

print @Error_Message

EXEC msdb.dbo.sp_send_dbmail
@recipients ='database@mbta.com',
@subject ='ServiceAlerts Table Archive FAILED!!',
@body = @Error_Message

RAISERROR (@Error_Message,16,1)

END CATCH
END;